<%= render :partial => 'layouts/header' %>

    <main class="container" role="main">
      <article class="col-sm-8">
        <h3 class="page-header">
          <span class="wm-title">帮助中心</span>
          <span class="wm-quick-link">
            <a href="JavaScript:window.history.back();">返回</a>
          </span>
        </h3>
        <section>
          <dl>
            <dt>如何登录万门大学网站？</dt>
            <dd>在页面导航条的右上角可以看见 <a class="btn btn-primary btn-xs" href="sign_in.html">登录</a> 按钮，点击将跳转到登录页面，输入注册邮箱和密码即可。你还可以用第三方账号(人人、豆瓣或者新浪微博)登录。</dd>
            <dt>如何在万门注册新账号？</dt>
            <dd>在 <a class="btn btn-primary btn-xs" href="sign_up.html">注册</a> 页面填写相关信息提交注册后，万门会发送一封注册确认信到你的邮箱，以确认你的唯一身份，你需要通过确认信的链接地址激活帐号完成注册。</dd>
            <dt>登录密码忘记了，如何找回？</dt>
            <dd>请在登录页面点击 <a class="btn btn-default btn-xs" href="sign_in.html">忘记密码</a> 按钮，系统会发一封重置密码的信到你的注册邮箱。</dd>
            <dt>如何使用万门网站上的编辑器？</dt>
            <dd>我们支持 Markdown 语法，请首先阅读 <a class="btn btn-default btn-xs" href="help/editor.html">编辑器</a> 使用说明。</dd>
            <dt>为什么我看到的页面显示不正常？</dt>
            <dd>可能你需要更新一下你的浏览器。对于IE用户，推荐使用IE9以上版本。</dd>
            <dt>我还有问题怎么办？</dt>
            <dd>你可以给我们发邮件(support<span class="wm-hidden">.extra</span>@wanmen.org)来寻求帮助。</dd>
          </dl>
        </section>
      </article>

      <aside class="col-sm-4">
        <section>
          <h3 class="page-header">
            <span class="glyphicon glyphicon-envelope"></span> 联系我们
          </h3>
          <p>电子邮箱：support<span class="wm-hidden">.extra</span>@wanmen.org
          </p>
        </section>
      </aside>
    </main>

<%= render :partial => 'layouts/footer' %>
