<aside class="col-sm-4">
  <section>
    <h3 class="page-header">
      <span class="glyphicon glyphicon-envelope"></span> 联系方式
    </h3>
    <p>人文学科团队招募： arts<span class="wm-hidden">.extra</span>@wanmen.org</p>
    <p>高校读书会：      readingclub<span class="wm-hidden">.extra</span>@wanmen.org</p>
    <p>校园独立杂志：    magazine<span class="wm-hidden">.extra</span>@wanmen.org</p>
    <p>意见反馈：       support<span class="wm-hidden">.extra</span>@wanmen.org</p>
  </section>
</aside>