<% content_for :head do %>
    <title>免责声明 | 万门大学</title>
<% end %>

<main class="container" role="main">
  <article class="col-sm-8">
    <h3 class="page-header">
      <span class="wm-title">免责声明</span>
          <span class="wm-quick-link">
            <a href="JavaScript:window.history.back();">返回</a>
          </span>
    </h3>
    <section class="wm-indent">
      <p>欢迎访问万门大学网站。万门大学网是集万门大学知识库、万门在线教育平台及交流平台于一体的教育行业网站。为了规范网站管理，依法保障本网站及相关版权所有者的合法权利，万门大学网特作出以下法律声明：
      </p>
      <ol>
        <li>万门大学网是面向在校大学生及社会各人群的知识传播及资料提供网站，任何访问和使用本网站的个人、机构或社会团体必须遵守有关法律法规，不得借助本网站的传播能力，从事非法活动和任何商业活动。
        </li>
        <li>万门大学网的一切内容都是为了更好地服务受众，本网站不保证所有信息、文本、图形、链接及其它项目的绝对准确性和完整性，内容仅供访问者使用参照，万门大学网对因使用本网站内容而产生的相关后果不承担任何商业和法律责任。
        </li>
        <li>所有与万门大学网链接的网站及其内容和版权由相应的提供者与拥有者负责，万门大学网不对其内容、形式或性质担负任何直接或间接的商业或法律责任。
        </li>
        <li>凡在万门大学网免费建站者，建站申请人务必保证其网站内容的真实性和原创性，如网站内容因拷贝、作假等行为导致的法律后果，由申请人承担，且本网站保留修改、追偿等相关权利。凡影响本站美观、不真实的内容、严重重复的内容本网站有权修改或删减。本网站在适当情况下，有权自行决定删除侵犯他人权利的文章，终止侵害或违反他人权利之使用者的帐号。
        </li>
        <li>万门大学网转载的文章、资料及相关图片、视频，其版权均由原作者或原刊载媒介拥有，未经版权所有人同意，任何机构或个人不得擅自将其作为商业用途。本网站依法保障版权所有人的相关权利，对于转载使用时未及核实的权利人，可以向万门大学网提交权利人身份证明材料及可以说明版权所有者情况的材料，我们将根据有关规定第一时间对其相应处理。
        </li>
        <li>凡在万门大学网登记注册的用户，您须自行负责对您的账户和密码保密，且须对您的账户和密码下发生的所有活动承担全部责任。
        </li>
        <li>本站将定期对用户数据进行备份工作，如因为操作失误、黑客攻击以及服务器故障引起的数据损失，本站将尽可能地恢复，但这种情况下所导致的损失为不可抗拒因素，本站具有免责权利。但用户有权要求本网根据服务停止时间采取延期使用的补救措施。
        </li>
      </ol>
      <p>本法律声明阐述之条款和条件适用于所有访问和使用万门大学网的个人、机构或社会团体。当您进入万门大学网后，则表明您已经接受以上条款。
      </p>
      <p>对免责声明的解释、修改及更新权均属于万门大学所有。
      </p>
      <p>联系我们：support<span class="wm-hidden">.extra</span>@wanmen.org
      </p>
    </section>
  </article>

  <%= render :partial => 'static_pages/contact' %>

</main>
