<h3>所有评论</h3>
<div id="comments">
<% @comments.each do |comment| %>
  <div class="comment">
  	<img src="<%= comment.user[:thumbnail]%>" width="50px">
  	<em><%= comment.user[:name]%> 在 <%= comment.created_at.strftime('%b %d, %Y %H:%M') %></em>
    <%= simple_format comment.content %>
  </div>
<% end %>
</div>