<section id="sns_share">
  <div class="wm-sns-share">
    <span class="text-muted">分享到</span>
    <img src="/assets/sns/renren.png" height="24" alt="人人" title="分享到人人"/>
    <img src="/assets/sns/douban.png" height="24" alt="豆瓣" title="分享到豆瓣"/>
    <img src="/assets/sns/sina.png" height="24" alt="新浪微博" title="分享到新浪微博"/>
    <img src="/assets/sns/qzone.png" height="24" alt="QQ空间" title="分享到QQ空间"/>
    <img src="/assets/sns/tencent.png" height="24" alt="腾讯微博" title="分享到腾讯微博"/>
    <a class="btn btn-primary btn-sm wm-quick-link" href="#edit_comments">发表评论</a>
  </div>
</section>  