<% content_for :head do %>
   <title>登陆 | 万门大学</title>
<% end %>
<main class="container wm-sign" role="main">
  <div class="col-sm-5 col-md-4 col-sm-offset-1">
    <h4 class="wm-lg-bottom">欢迎登录万门大学</h4>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html=>{:class=>"form-horizontal", :role=>"form"}) do |f| %>
          <div class="form-group">
            <label class="sr-only control-label" for="user_email">邮箱</label>
            <div class="col-sm-10">
              <%= f.email_field :email, :autofocus => true,:class=>"form-control", :placeholder=>"邮箱", :title=>"请输入你的帐号邮箱",:required=>true %>
            </div>
          </div>
          <div class="form-group">
            <label class="sr-only control-label" for="user_password">密码</label>
            <div class="col-sm-10">
              <%= f.password_field :password,:class=>"form-control", :placeholder=>"密码", :title=>"请输入你的帐号密码",:required=>true %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10">
              <div class="checkbox">
                <%= f.check_box :remember_me %>记住我 (下次自动登录)
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10">
              <button class="btn btn-primary" type="submit">登录</button>
              <span class="wm-md-left">
                <a href="/users/password/new">忘记密码</a> |
                <a href="/users/confirmation/new">重发确认邮件</a>
              </span>
            </div>
          </div>
      <% end %>
  </div>
  <div class="col-sm-5 col-sm-offset-1">
    <h4 class="wm-lg-bottom">你还可以用第三方账号登录</h4>
    <a class="btn btn-primary wm-sign-button" href="/users/auth/renren">使用人人帐号登录</a>
    <a class="btn btn-success wm-sign-button" href="/users/auth/qq_connect">使用QQ帐号登录</a>
    <a class="btn btn-danger wm-sign-button" href="/users/auth/weibo">使用新浪微博登录</a>
    <!--
    <p>
      还没有帐号？<a href="/users/sign_up">马上注册</a>
    </p>
    -->
  </div>
</main>
