<% content_for :head do %>
   <title>添加经验帖 | 万门大学</title>
<% end %>

<main class="container" role="main">
  <h3 class="page-header text-center">
    <span class="wm-title">添加经验贴</span>
    <span class="wm-quick-link">
      <a href="JavaScript:window.history.back();">返回</a>
    </span>
  </h3>
  <%= render 'form' %>
</main>

<% content_for :bottom_script do %>
    <%= render :partial => 'layouts/markdown' %>
<% end %>

