 <div class="container">
  <div class="page-header">
    <h1>万门视频</h1>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <div class="row">
        <div class="col-xs-8">
          <a href="/videos/<%= @videos[0].id %>.html" class="thumbnail">
             <img src="<%= @videos[0].cover %>" width="360" height="248" alt="">
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#" class="thumbnail">
              <img src="data:image/png;base64," data-src="holder.js/160x120" alt="">
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#" class="thumbnail">
              <img src="data:image/png;base64," data-src="holder.js/160x120" alt="">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <a href="#" class="thumbnail">
              <img src="data:image/png;base64," data-src="holder.js/160x120" alt="">
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#" class="thumbnail">
             <img src="data:image/png;base64," data-src="holder.js/160x120" alt="">
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#" class="thumbnail">
             <img src="data:image/png;base64," data-src="holder.js/160x120" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
     <div class="row">
        <div class="col-xs-12">
          <a href="#" class="thumbnail">
             <img src="data:image/png;base64," data-src="holder.js/240x180" alt="">
          </a>
        </div>
        <div class="col-xs-12">
          <a href="#" class="thumbnail">
             <img src="data:image/png;base64," data-src="holder.js/240x180" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
  
</div>
</div>

<%= link_to 'New Video', new_video_path %>
