<% if current_user&& current_user[:role]>= SCHOLAR %>

  <% if (@lists.length>0) %>
  <div id="listForm" >
    添加到
    <%= form_for [@linkable, @link] do |f| %>
      <p>
        <%= f.select :list_id, @lists.map{ |c| [c.title, c.id] } %>
      </p>
    加描述
      <p>
        <%= f.text_field :description %>
      </p>
      <div class="actions">
        <%= f.submit "加入到我的单子" %>
      </div>
     <% end %>
     <a href="/lists/new">新建单子</a>
  </div>
  <% else %>
     <a href="/lists/new">新建单子</a>
  <% end %>
<% end %>