<span>已加入<%= @links.length %>个书单</span> 
<% @links.each do |link| %>
    <a href="/lists/<%= link.list.id %>"><%= link.list.title %></a>
    <% if current_user&& current_user[:role]>=SCHOLAR %><%= link_to '删除', '/links/'+link.id.to_s, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>|
<% end %>