<% content_for :head do %>
  <title>修改标签 | 万门大学</title>
<% end %>

<main class="container" role="main">
  <h3 class="page-header text-center">
    <span class="wm-title">修改标签</span>
    <span class="wm-quick-link">
      <% if can? :destroy, @tag %>
          <%= link_to '删除此标签', tag_path(@tag), method: :delete, data: { confirm: '请确认要删除此标签?' } %> |
      <% end %>
      <a href="JavaScript:window.history.back();"> 返回</a>
    </span>
  </h3>
  <%= render 'form' %>
</main>

<% content_for :bottom_script do %>
    <%= render :partial => 'layouts/rails' %>
<% end %>