<%= @taglinks.length %>个标签
<div id="taglinks">
<% @taglinks.each do |taglink| %>
  <div class="taglink">
    <a href="/tags/<%= taglink.tag.id %>"><%= taglink.tag.name %></a>
  </div>
<% end %>
</div>