<h1>Listing taglinks</h1>

<table>
  <thead>
    <tr>
      <th>Tag</th>
      <th>Tagable</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @taglinks.each do |taglink| %>
      <tr>
        <td><%= taglink.tag.name %></td>
        <td><%= taglink.tagable.title %></td>
        <td><%= link_to 'Destroy', request.fullpath+'/'+taglink.id.to_s, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
