<!DOCTYPE html>
<html>
<head>
  <title>万门大学</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="/assets/favicon.ico">
  <!-- Bootstrap core CSS -->
  <link href="/assets/bootstrap.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <link href="css/bootstrap-ie7.css" rel="stylesheet">
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
  <![endif]-->

  <!-- Custom styles for this template -->
  <link href="/assets/index.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>

