<p>您好 <%= @resource.email %>!</p>

<p>有人请求更改密码</p>

<p><%= link_to '更改密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果不是您本人请求，请忽略这封邮件</p>
<p>您的密码不会被更改，除非您点击确认修改</p>